<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${event.title}">Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div th:replace="layout :: navbar"></div>

<h1 th:text="${event.title}">Titel</h1>

<p><strong>Organisatie:</strong> <span th:text="${event.organizer}"></span></p>
<p><strong>Contact:</strong> <span th:text="${event.contact}"></span></p>
<p><strong>Datum:</strong> <span th:text="${#temporals.format(event.date, 'dd/MM/yyyy HH:mm')}"></span></p>
<p><strong>Locatie:</strong> <span th:text="${event.location.name}"></span></p>
<p><strong>Beschrijving:</strong></p>
<p th:text="${event.description}">Beschrijving hier</p>

<a href="/" >Terug naar overzicht</a>

<div th:replace="layout :: footer"></div>

</body>
</html>
