<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div th:insert="layout :: navbar"></div>

<h1>Laatste evenementen</h1>

<table>
    <thead>
    <tr>
        <th>Naam</th>
        <th>Organisatie</th>
        <th>Meer info</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.title}">Titel</td>
        <td th:text="${event.organizer}">Organisatie</td>
        <td>
            <a th:href="@{/events/{id}(id=${event.id})}">Meer info</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center" colspan="3">
            <a href="/new">Nieuw evenement aanmaken</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:insert="layout :: footer"></div>

</body>
</html>